
:root {
    --primary-color: #eb586f;
    --secondary-color: #d8e9f0;
    --third-color: #4aa0d5;
    --fourth-color: #454553;

    --main-bg-color: #FAFAFA;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Baloo Paaji 2", sans-serif;

    background-color: var(--main-bg-color);
}

.header {
    display: flex;
    justify-content: space-between;

    height: 60px;
    padding: 10px;
    background-color: var(--secondary-color);

    border-bottom: 1px solid black;
}

.header-logo {
    margin: 5px;
    font-size:30px;
    line-height: 50px;
    color: var(--primary-color);
    text-decoration: none;
}

.header-logo:hover {
    color: var(--fourth-color);
}

.header-text {
    font-size: 24px;
    line-height: 60px;
}

.header-right {
    margin-left: auto;
}

.content {
    margin: auto;
    max-width: 1080px;
    padding: 10px;
}

.profile-container {
    display: flex;
    justify-content: space-around;

    border-radius: 8px;
    background-color: var(--fourth-color);
}

.profile-info {
    display: inline-block;
    margin: 10px;

    font-weight: 600;
    font-size: 22px;
    color: var(--main-bg-color);
}

.btn {
    display: inline-block;
    margin: 5px;
    padding: 10px;

    color: black;
    text-align: center;
    text-decoration: none;

    border: 2px outset rgba(0, 0, 0, 0.30);
    border-radius: 10px;

    background-color: var(--third-color);
}

.btn:hover {
    border: 2px inset rgba(0, 0, 0, 0.30);
    color: white;
    background-color: var(--fourth-color);
    cursor: pointer;
}
.inactive-btn {
    color: white;
    background-color: var(--fourth-color);
}

.inactive-btn:hover {
    background-color: var(--fourth-color);
    cursor: not-allowed;
}

.btn-s {
    width: 40px;
    height: 20px;
    line-height: 20px;
}

.btn-m {
    min-width: 80px;
    height: 26px;
    line-height: 26px;
}

.btn-l{
    font-size: 20px;
    min-width: 120px;
    height: 36px;
    line-height: 36px;
}

.btn-cta {
    font-weight: 800;
    background-color: var(--primary-color);
}

.form-container {
    margin: auto;
    display: inline-block;

    padding: 30px;

    border: 2px solid rgba(0, 0, 0, 0.30);
    border-radius: 10px;

}

.form-title {
    font-size: 32px;
    text-decoration: underline;

}

.form-subtitle {
    margin-bottom: 5px;

    font-weight: 400;
    font-size: 20px;
}

.form-input {
    padding: 5px;

    font-size: 18px;
}

.error-msg {
    color: red;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-container {
    margin: 10px;
    padding: 10px;

    width: 300px;

    border: 1px solid black;
    border-radius: 8px;

    background-color: var(--secondary-color);
}

.new-card {
    box-shadow: 0px 5px 10px 10px rgba(255, 215, 0, 0.2);
}

.card-name {
    font-weight: 800;
    font-size: 24px;
}

.card-latin-name {
    font-style: italic;
}

.card-pain-level {
    color: red;
}

.card-description {
    height: 130px;
    margin: 5px;
    padding: 10px;

    border:  1px inset black;
    border-radius: 8px;

    background-color: var(--main-bg-color);
}

.card-value {
    font-size: 20px;
    font-weight: 800;
}